#error-page {
  display: grid;
  place-content: center;
  min-height: 50vh;
  h1 {
    font-size: 3rem;
    color: $main-color;
    svg {
      margin-right: 1rem;
      color: $error-clr;
    }
  }
  h2 {
    color: $secondary-color;
    text-align: center;
  }
  .btn {
    @include primary-btn();
    margin-top: 2rem;
    a {
      color: $light-bg;
    }
  }
}
