.list-title {
  width: 90vw;
  margin: 2rem auto;
  @include top-bottom-border();
  color: $main-color;
}
.list {
  width: 90vw;
  margin: 2rem auto;
}
.top-sellers {
  background-color: $light-bg;
}
.old-price {
  font-size: 0.8rem;
  text-decoration: line-through;
  color: #999;
}
