@mixin reset-btn {
  background-color: transparent;
  border: none;
}

@mixin icon-hover {
  color: $secondary-color;
  cursor: pointer;
  &:hover {
    color: $main-color;
    transform: scale(1.1);
  }
}

@mixin sticker($color, $bg) {
  position: absolute;
  top: 25%;
  right: 1rem;
  z-index: 1;
  color: $color;
  padding: 0.05rem 0.35rem;
  text-align: center;

  &::before {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: skewX(-15deg);
    background-color: $bg;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  }
}

@mixin top-bottom-border() {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
@mixin sticker-reset {
  width: 90px;
  position: relative;
  margin: 0 0.5rem;
}

@mixin border-bg {
  background-color: $light-bg;
  border: 1px solid #ddd;
  padding: 1rem;
}
@mixin primary-btn {
  margin: 0.5rem;
  color: $light-bg;
  background-color: $main-color;
  border: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
@mixin secondary-btn {
  margin: 0.5rem;
  color: $light-bg;
  background-color: $secondary-color;
  border: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: lighten($secondary-color, 10%);
  }
}

@mixin arrows($position) {
  @include reset-btn();
  position: absolute;
  top: 50%;
  #{$position}: 0;
  font-size: 1.5rem;
  color: $secondary-color;
  cursor: pointer;
  &:hover {
    color: $main-color;
  }
}
@mixin container {
  max-width: 90vw;
  margin: 2rem auto;
}

@mixin disable-btn {
  margin: 0.5rem;
  color: $light-bg;
  border: none;
  padding: 0.25rem 0.5rem;
  cursor: not-allowed;
  background-color: #999;
}

@mixin table-config() {
  border-collapse: collapse;
  margin: 1rem 0;

  tr:nth-child(even) {
    background-color: $light-bg;
  }
  th {
    text-align: left;
    font-weight: 500;
  }
  th,
  td {
    border: 1px solid #ddd;
    padding: 5px;
  }
}

@mixin inline-link() {
  margin-left: 0.5rem;
  border: none;
  color: $main-color;
  text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 3px;
  &:hover {
    color: lighten($main-color, 15%);
  }
}
